h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    font-family: メイリオ, "Meiryo", Arial, sans-serif;
    color: #FFF;
    font-size: medium;
    line-height: 1.5;
    background-color: #282A36;
    width: 800px;
    margin: 10px auto;
}

a {
    color: #59acf3;
}
a:hover {
    color: #a7d8ff;
    text-decoration: none;
}

a img {
    border: none;
}
p {
    margin-bottom: 9px;
}